body{
    background: #fafcfc;
    font-family: 'Spectral SC', serif;
}

.button{
    background-color: #f9f9f9;
    color: #333;
    border-radius: 4px;
    display: inline-block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    border: 2px solid #25262e;
    padding: 0 26px;
    height: 40px;
    min-width: 150px;
    line-height: 36px;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 24px;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    touch-action: manipulation;
    vertical-align: middle;
  }

.button:hover {
    background: #25262e;
    color: #fff;
  }
